@model GameStore.Models.Game

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameType.NameGameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameType.NameGameType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GamePremiere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePremiere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrToBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrToBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrRecommended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrRecommended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFileNews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFileNews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFileBestseller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFileBestseller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFileRecomended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFileRecomended)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
