@model GameStore.ViewModels.HomeViewModel
@using GameStore.Infrastructuce
@{
    ViewBag.Title = "GameStore Home";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="carousel1" class="carousel slide">
                <ol class="carousel-indicators">
                    @foreach (var newsActive in Model.NewsActive)
                    {
                    <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                    }
                    @foreach (var news in Model.News)
                    {
                        <li data-target="#carousel1" data-slide-to="0" class=""> </li>
                    }

                </ol>
                <div class="carousel-inner">
                   
                    @foreach (var newsActive in Model.NewsActive)
                    {
                    <div class="item active">
                        <img class="img-responsive" src="@Url.NewsImagePath(newsActive.NameFileNews)" alt="thumb">
                        <div class="carousel-caption"> @newsActive.GameName - @newsActive.GamePremiere </div>
                    
                    </div>
                    }
                    @foreach (var news in Model.News)
                    {
                        <div class="item">
                            <img class="img-responsive" src="@Url.NewsImagePath(news.NameFileNews)" alt="thumb">
                            <div class="carousel-caption"> @news.GameName - @news.GamePremiere </div>
                        </div>

                        
                    }
                </div>
                <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img class="img-circle" alt="Free Shipping" src="@Url.Content("~/Content/images/40X40.gif")"></div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Zawsze bez DRM</h4>
                    <h6>Kupujesz, więc jest Twoje</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img class="img-circle" alt="Free Shipping" src="@Url.Content("~/Content/images/40X40.gif")"></div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Uczciwa cena</h4>
                    <h6>Bo 1$ nie równa się 1€</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2"><img class="img-circle" alt="Free Shipping" src="@Url.Content("~/Content/images/40X40.gif")"></div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Zwrot pieniędzy</h4>
                    <h6>To działa, zaręczamy</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="text-center">POPULARNE GRY</h2>
<hr>
<div class="container">
    <div class="row text-center">
        @foreach (var bestseller in Model.Bestsellery)
            {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail">
                    <img src="@Url.BestsellerImagePath(bestseller.NameFileBestseller)" alt="Thumbnail Image 1" class="img-responsive">
                    <div class="caption">
                        <a href="@Url.Action("Details", "Games", new { id = bestseller.GameId })"
                        <h3>@bestseller.GameName</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        <p><a href="@Url.Action("AddToBasket", "Basket", new { id = bestseller.GameId })" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Dodaj do koszyka</a></p>
                    </div>
                </div>
            </div>
            }
        
    </div>
    <div class="row text-center hidden-xs">
        @foreach (var bestseller in Model.Bestsellery)
            {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail">
                    <img src="@Url.BestsellerImagePath(bestseller.NameFileBestseller)" alt="Thumbnail Image 1" class="img-responsive">
                    <div class="caption">
                        <a href="@Url.Action("Details", "Games", new { id = bestseller.GameId })"
                        <h3>@bestseller.GameName</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        <p><a href="@Url.Action("AddToBasket", "Basket", new { id = bestseller.GameId })" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Dodaj do koszyka</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav class="text-center">
        <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
        <ul class="pagination">
            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="disabled"><a href="#">5</a></li>
            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
        </ul>
    </nav>
</div>
<hr>
<h2 class="text-center">GRY POLECANE PRZEZ NAS</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="media-object-default">
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"> </a> </div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, vitae doloremque voluptatum doloribus neque assumenda velit sapiente quas aliquam ratione. Sed possimus corporis dolorum optio eaque in asperiores soluta expedita!
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"> </a> </div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quasi doloribus non repellendus quae aperiam. Quos, eligendi itaque soluta ut dignissimos reprehenderit commodi laboriosam quis atque minus enim magnam delectus.
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus, ad, adipisci neque earum culpa magnam veritatis ipsum dolores odio laboriosam sed veniam accusamus! Architecto, provident nulla recusandae repellendus illo!
                    </div>
                </div>
            </div>
        </div>
        <hr class="hidden-md hidden-lg">
        <div class="col-lg-4 col-md-6">
            <div class="media-object-default">
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eos, et in quam laboriosam ipsum laudantium laborum provident nihil modi reprehenderit tempora voluptatum quasi non libero quaerat vel. Assumenda, officiis?
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, minus, praesentium dignissimos non provident et consectetur illo expedita aliquam laboriosam esse incidunt deleniti accusantium debitis voluptas. Non vitae quos dolorem.
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ducimus quidem aliquam voluptate quas impedit modi neque quasi deleniti dicta. Dolore, provident, unde voluptas dicta fugit odit maxime eius minus!
                    </div>
                </div>
            </div>
        </div>
        <hr class="hidden-lg">
        <div class="col-lg-4 col-md-12 hidden-md">
            <div class="media-object-default">
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorum reprehenderit vitae omnis. Quidem, recusandae, magni ut perspiciatis nobis consequuntur ullam molestias molestiae obcaecati ea labore aspernatur modi. Impedit, fugit!
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, libero, ea itaque atque vero quidem esse optio minus tenetur dolorem delectus nemo fugit deserunt quibusdam veritatis assumenda obcaecati praesentium omnis!
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"> <a href="#"> <img class="media-object" src="@Url.Content("~/Content/images/100X125.gif")" alt="placeholder image"></a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Gra</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, cumque, ad voluptatibus vel perspiciatis reprehenderit magni in recusandae voluptatum iusto commodi laudantium veritatis esse labore nisi error tempora debitis impedit.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container well">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4  col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
            <address>
                <strong>GMO IT</strong><br>
                <abbr title="Szkoła">S:</abbr> Wyższa Szkoła Technologii Informatycznych<br>
                <strong>Przedmiot:</strong> Usługi Internetowe<br>
                <abbr title="Miasto">M:</abbr> Warszawa
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">game.store@example.com</a>
            </address>
        </div>
    </div>
</div>

<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © Hubert Knochowski, Patryk Witkowski, Maciej Nercz. Wszystkie prawa zastrzeżone.</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="@Url.Content("~/Content/js/jquery-1.11.3.min.js")"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
</body>
</html>